.jumbotron {
    background: url("../img/logo.png") center center;
    max-width: 1170px;
    height: 328px;
    background-size: cover;
    overflow: hidden;
    margin: auto;
}
 
.jumbotron h1 {
	font-family: 'Roboto', sans-serif;
  color: white;
}

.jumbotron a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px pink;
}

.jumbotron a {
  text-shadow: 0 0 3px black, 0 0 5px black;
}

.nav {
  float:right;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: scroll;
}

h3, h4 {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    list-style: circle;
    max-width: 1170px;
    margin: 0 auto;
}

p {
    max-width: 1170px;
    margin: 0 auto;
  }

li.tabs-meny {
  display: inline-block;
  background-color: lightgrey;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin-top: 10px;
}

li.tabs-meny a {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: color .50s ease-in-out;
  outline: none;
}

li.tabs-meny a:hover {
  color: black;
  opacity: 1;
  text-decoration: none;

}

li.tabs-meny a:focus {
  color: orange;
}

#tabs 
{
  max-width: 1170px;
  margin: 20px auto;
  padding: 0 1%;
  border: 2px solid;
  margin: 20px auto;
  padding: 1%;
  border-color: lightgrey;
  text-align: left;
}

#tabs-3 li {
  list-style: none;
}

#wrapper {
  background-color: #f8f8f8;
  padding: 1%;
}

footer {
  text-align: center;
}

h4.bildtext1 {
  text-align: center;
}

p.bildtext2 {
  padding: 2px;
}

p.bildtext3 {
  padding: 2px;
}

img.kamera1 {
  display: inline;

}

img.kamera2 {
  display: inline;

}

.activemenu a {
  color: orange;
}

.camera {
  background-color: #f8f8f8;
  border: 0px;
}

.order {
  background-color: #f8f8f8;
  border: 0px;
}

#order-form {
  margin-left: 20px;

}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

/*CSS for the orderingform*/

input {
  width: 50%;
  padding: 12px 20px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
input:focus {
  border: 3px solid black;
}

input[type=submit] {
  border: solid;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

#confirmation {
  margin-left: 20px;
}

a.top-of-page {
  display: none;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: grey url("../img/up-arrow.png") no-repeat center;
  border-radius: 1000px;
}

.image {
  position: relative;
}

h2 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: white;
}

h2 span {
  background: black;
  padding-left: 10px;
  padding-right: 10px;
}

img.panasonic1 {
  position: flex;
}

img.panasonic2 {
  position: flex;
}